%button {
  padding: 0.8em 3.5em;
  background-color: $primary;
  border: none;
  border-radius: 30px;
  color: $white;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  &:hover {
    color: darken($white, 15%);
  }
  &:focus {
    box-shadow: 0 0 2px 2px $white, 0 0 4px 5px $primary;
  }
  &[disabled] {
    filter: grayscale(1);
  }
}

@each $button in $button-selector {
#{$button} {
  @extend %button;
}
}

.btn--active {

}

.btn--outline {

}

.btn--text {

}
